{% extends "vehicles_app/index.html" %}
{% block body_block %}
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>File Record!</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{% static 'js/main.js' %}">

    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
<body>

          <div class="container" id="addfile_form" style="margin-left:250px; width: 78%;">
              <div class="panel panel-default" style=" background-color: rgb(220, 220, 220);">
            <div class="panel-heading"  style=" background-color: rgb(220, 200, 220);">
              <b><h2 id="post_head" class="panel-title">Ad Post Details!</h2></b>
            </div>
                  <div class="panel-body">
                <form id="post_form" method="post" action="{% url 'vehicles_app:addfile' %}"
                      enctype="multipart/form-data">
                      {% csrf_token %}

                      <div style="padding:10px;" class="">

                      <div class="row">
                      <div class="form-group">
                        <div style="float: left; width: 50%">
                          <label for="category">Category:</label>
                        </div>
                          <div class="category" style="float: right; width: 45%">
                          <select style="width:180px;" name="category" value='{{ form.initial.category }}'>
                            <option selected="selected" value="cars">Cars</option>
                            <option value="trucks">Trucks</option>
                            <option value="motorbikes">Motor Bikes</option>
                          </select>
                          </div>
                        </div>
                    <br>


                    <div class="form-group">
                      <div style="float: left; width: 50%">
                      <label for="title">Ad Title</label>
                      </div>
                      <div class="title" style="float: right; width: 45%">
                        <input type="text" maxlength="30" name="title" placeholder="Type Here" value='{{ form.initial.title }}' required>
                      </div>
                    </div>
                    <br>

                    <div class="form-group">
                      <div style="float: left; width: 50%">
                      <label for="city">City</label>
                      </div>
                      <div class="city" style="float: right; width: 45%">
                        <select style="width:180px;" name="city"  value='{{ form.initial.city }}'>
                          <option value="islamabad">Islamabad</option>
                          <option value="karachi">Karachi</option>
                          <option value="lahore">Lahore</option>
                          <option value="peshawar">Peshawar</option>
                          <option value="quetta">Quetta</option>
                          <option value="multan">Multan</option>
                          <option value="faisalabad">Faisalabad</option>
                        </select>
                      </div>
                    </div>
                    <br>

                    <div class="form-group">
                      <div style="float: left; width: 50%">
                      <label for="price">Price</label>
                      </div>
                      <div class="price" style="float: right; width: 45%">
                        <input type="text" name="price" placeholder="Type Here" value='{{ form.initial.price }}' required>
                      </div>
                    </div>
                    <br>

                    <div class="form-group">
                      <div style="float: left; width: 50%">
                      <label for="brand">Brand</label>
                      </div>
                      <div class="brand" style="float: right; width: 45%">
                        <select  style="width:180px;" name="brand" value='{{ form.initial.brand }}'>
                          <option value="honda">Honda</option>
                          <option value="audi">Audi</option>
                          <option value="bmw">BMW</option>
                          <option value="mercedes">MERCEDES</option>
                          <option value="nissan">Nissan</option>
                          <option value="suzuki">Suzuki</option>
                          <option value="toyota">Toyota</option>
                          <option value="lexus">Lexus</option>
                          <option value="hyundai">Hyundai</option>
                          <option value="jeep">Jeep</option>
                          <option value="mazda">Mazda</option>
                          <option value="mitsubishi">Mitsubishi</option>
                          <option value="daewoo">Daewoo</option>
                        </select>
                      </div>
                    </div>
                    <br>

                    <div class="form-group">
                      <div style="float: left; width: 50%">
                      <label for="modelyear">Model-Year</label>
                      </div>
                      <div class="modelyear" style="float: right; width: 45%">
                        <input type="text" name="modelyear" placeholder="ie:1970-2018"  value='{{ form.initial.modelyear }}' required>
                      </div>
                    </div>
                    <br>

                    <div class="form-group">
                      <div style="float: left; width: 50%">
                      <label for="condition">Condition</label>
                      </div>
                    <div class="condition" style="float: right; width: 45%">
                      <select style="width:180px;" name="condition" value='{{ form.initial.condition }}'>
                        <option value="new">NEW</option>
                        <option value="used">USED</option>
                      </select>
                    </div>
                    </div>
                    <br>

                    <div class="form-group">
                      <div style="float: left; width: 50%">
                      <label for="mileage">Mileage</label>
                      </div>
                    <div class=mileage style="float: right; width: 45%">
                        <input type="text" name="mileage" placeholder="ie:50000"  value='{{ form.initial.mileage }}' required>
                    </div>
                  </div>
                    <br>

                    <div class="form-group">
                      <div style="float: left; width: 50%">
                      <label for="air_conditioner">Air Conditioner</label>
                      </div>
                    <div class="air_conditioner" style="float: right; width: 45%">
                      <select style="width:180px;" name="air_conditioner"  value='{{ form.initial.air_conditioner }}'>
                        <option value="no">NO</option>
                        <option value="yes">YES</option>
                      </select>
                    </div>
                    </div>
                    <br>

                    <div class="form-group">
                      <div style="float: left; width: 50%">
                      <label for="power_windows">Power Windows</label>
                      </div>
                    <div class="power_windows" style="float: right; width: 45%">
                      <select style="width:180px;" name="power_windows" value='{{ form.initial.power_windows }}'>
                        <option value="no">NO</option>
                        <option value="yes">YES</option>
                      </select>
                    </div>
                    </div>
                    <br>

                    <div class="form-group">
                      <div style="float: left; width: 50%">
                      <label for="power_steering">Power Steering</label>
                      </div>
                    <div class="power_steering" style="float: right; width: 45%">
                      <select style="width:180px;" name="power_steering"  value='{{ form.initial.power_steering }}'>
                        <option value="no">NO</option>
                        <option value="yes">YES</option>
                      </select>
                    </div>
                    </div>
                    <br>

                    <div class="form-group">
                      <div style="float: left; width: 50%">
                      <label for="automatic_break_system">Automatic Break System(ABS)</label>
                      </div>
                    <div class="automatic_break_system" style="float: right; width: 45%">
                      <select style="width:180px;" name="automatic_break_system"  value='{{ form.initial.automatic_break_system }}'>
                        <option value="no">NO</option>
                        <option value="yes">YES</option>
                      </select>
                    </div>
                    </div>
                    <br>

                    <div class="form-group">
                      <div style="float: left; width: 50%">
                      <label for="air_bags">Air Bags</label>
                      </div>
                    <div class="air_bags" style="float: right; width: 45%">
                      <select style="width:180px;" name="air_bags" value='{{ form.initial.air_bags }}'>
                        <option value="no">NO</option>
                        <option value="yes">YES</option>
                      </select>
                    </div>
                    </div>
                    <br>

                    <div class="form-group">
                      <div style="float: left; width: 50%">
                      <label for="cd_player">CD Player</label>
                      </div>
                    <div class="cd_player" style="float: right; width: 45%">
                      <select style="width:180px;" name="cd_player" value='{{ form.initial.cd_player }}'>
                        <option value="no">NO</option>
                        <option value="yes">YES</option>
                      </select>
                    </div>
                    </div>
                    <br>


                    <div class="form-group">
                      <div style="float: left; width: 50%">
                      <label for="details">Type details here</label>
                      </div>
                    <div class="details" style="float: right; width: 45%">
                      <textarea contenteditable id="details" name="details" maxlength="950" rows="9" cols="45" required>{{ form.initial.details }}</textarea>
                    </div>
                    </div>
                    </div>
                    <br>

                    <input style="float: left; width: 25%" type="file" id="image" name="image" value='{{ form.initial.image }}' accept="media/" required><i class="fa fa-hand-o-left" style="font-size:30px;color:red; margin-left:40px ;"><h5 style="float:right;"> This will be your main photo!</h5></i>
                    <input type="file" id="image1" name="image1" value='{{ form.initial.image1 }}' accept="media/">
                    <input type="file" id="image2" name="image2" value='{{ form.initial.image2 }}' accept="media/">
                    <input type="file" id="image3" name="image3" value='{{ form.initial.image3 }}' accept="media/">
                    <input type="file" id="image4" name="image4" value='{{ form.initial.image4 }}' accept="media/">
                    <input type="file" id="image5" name="image5" value='{{ form.initial.image5 }}' accept="media/">
                    <input type="file" id="image6" name="image6" value='{{ form.initial.image6 }}' accept="media/">
                    <input type="file" id="image7" name="image7" value='{{ form.initial.image7 }}' accept="media/">
                    <input type="file" id="image8" name="image8" value='{{ form.initial.image8 }}' accept="media/">
                    <input type="file" id="image9" name="image9" value='{{ form.initial.image9 }}' accept="media/"><br>

                    <br> <h2>Contact Details:</h2><br><br>
                    <div class="form-group">
                      <div style="float: left; width: 30%">
                      <label for="full_name">Full Name:</label>
                      </div>
                    <div class="full_name" style="float: right; width: 70%">
                    <input style="width:300px; margin-left:10px;" type="text" name="full_name" id="full_name" class="form-control input-sm" placeholder="Full Name" required>
                    </div>
                  </div>
                  <br>

                  <div class="form-group">
                    <div style="float: left; width: 30%">
                    <label for="phone">Phone Number:</label>
                    </div>
                  <div class="phone" style="float: right; width: 70%">
                    <input style="width:300px; margin-left:10px;" type="text" name="phone" id="phone" class="form-control input-sm" placeholder="Enter Phone Number" required>
                  </div>
                  </div>
                  <br>
                  <br>
                  <br>
                    <input type="submit" name="submit" value="Post" class="btn btn-info" id="post_btn">
                    <input style="margin-left:10px;" type=button class="btn btn-default" value="Cancel" onClick="javascript:history.go(-1);">
                  </div>
                </form>
      	</div>
      </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>
{% endblock %}
