{% extends "vehicles_app/index.html" %}
{% block body_block %}
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>frequently searched!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{% static 'js/main.js' %}">

    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
<body>

  {% for obj in context %}
    <div class="container" style="padding-left:330px; ;padding-right:0px; width: 100%; margin-bottom: 30px;">
      <div class="well" style=" background-color: rgb(220, 220, 220);">
          <div class="media">
          <div class="media-body">
            <form id = "form-id" action="" method="get">
            <a title="Click for details!" onclick="document.forms['form-id'].submit();" style="text-decoration:none;" href="{% url 'vehicles_app:data' obj.id %}">
              <input type="hidden" name="usr_id" value="{{ obj.user }}">{{ user.get_full_name }}
            <div class="list-group">
                <div class="d-flex w-100 justify-content-between">
            <h1 class="media-heading" style="margin-top:20px; margin-bottom:20px; color: black;">{{ obj.title }}</h1>
              <div class="w3-content" style="max-width:800px">
                  {% if obj.image %}
                     <img style="margin-bottom:30px; float: right" src="{{ obj.image.url }}" width="250" height="250">
                  {% endif %}
              </div>
              <p  style="margin-left:10px; color:black; text-overflow: ellipsis;width: 200px;overflow: hidden; white-space: nowrap;"> {{ obj.details }} </p>
              <ul class="list-inline list-unstyled">
            <li style="margin-left:10px;"><span><i class="glyphicon glyphicon-calendar"></i> {{ obj.date }} </span></li>
                <li>|</li>
                <span style="margin-left:10px;"><i></i> {{ obj.brand }} </span>
                    <li>|</li>
                    <span style="margin-left:10px;"><i></i> {{ obj.city }} </span><br>

                <br><br></a></form>
                  {% if request.user == obj.user or request.user.is_superuser %}
                  <br><br>
                  <form action="{% url 'vehicles_app:file-delete' obj.id %}" method="post" style="display: inline; left:0; margin-left:10px;">{% csrf_token %} <input type="hidden" name="post_id" value="{{ obj.id }}">
                    <button title="Click to delete!" type="submit"  class="btn btn-info btn-lg"> <span class="glyphicon glyphicon-trash"></span>Delete</button></form>


                    <form action="{% url 'vehicles_app:update_post' obj.id %}" method="get" style="display: inline; left:0;">{% csrf_token %}<input type="hidden" name="post_id" value="{{ obj.id }}">

                      <button title="Click to edit!" type="submit"  class="btn btn-info btn-lg"> <span class="glyphicon glyphicon-edit"></span>Edit</button></form>
                      {% else %}
                      {% endif %}
                  </ul>
               </div>
             </div>
             </div>
            </div>

           </div>
           </div>
           {% empty %}
            <h1 style="margin-top:20px; margin-left:400px; color: black;">No Matched Post Found!</h1>
          {% endfor %}


          <div class="container-fluid">
            <div class="pagin" style="margin-left:600px; ">
            <div class="pagination">
              <span class="step-links">

                  {% if query == None and city_query == None %}
                  {% if context.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ context.previous_page_number }}">previous</a>
                  {% endif %}
                  {% endif %}

                  {% if context.has_previous and query %}
                    {% if query %}
                      <a href="?page=1&q={{query}}">&laquo; first</a>
                      <a href="?page={{ context.previous_page_number }}&q={{query}}">previous</a>
                    {% else %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ context.previous_page_number }}">previous</a>
                    {% endif %}
                  {% endif %}

                  {% if context.has_previous and city_query %}
                    <a href="?page=1&category={{cat_query}}&city={{city_query}}&brand={{brand_query}}&modelyear={{model_query}}&condition={{condition_query}}&mileagefrom={{mileage_from_query}}&mileageto={{mileage_to_query}}&pricefrom={{price_from_query}}&priceto={{price_to_query}}">&laquo; first</a>
                    <a href="?page={{ context.previous_page_number }}&category={{cat_query}}&city={{city_query}}&brand={{brand_query}}&modelyear={{model_query}}&condition={{condition_query}}&mileagefrom={{mileage_from_query}}&mileageto={{mileage_to_query}}&pricefrom={{price_from_query}}&priceto={{price_to_query}}">previous</a>
                  {% endif %}

                  <span class="current">
                      Page {{ context.number }} of {{ context.paginator.num_pages }}.
                  </span>

                  {% if context.has_next and query %}
                    {% if query %}
                      <a href="?page={{ context.next_page_number }}&q={{query}}">next</a>
                      <a href="?page={{ context.paginator.num_pages }}&q={{query}}">last &raquo;</a>
                    {% else %}
                        <a href="?page={{ context.next_page_number }}">next</a>
                        <a href="?page={{ context.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                  {% endif %}

                  {% if context.has_next and city_query %}
                      <a href="?page={{ context.next_page_number }}&category={{cat_query}}&city={{city_query}}&brand={{brand_query}}&modelyear={{model_query}}&condition={{condition_query}}&mileagefrom={{mileage_from_query}}&mileageto={{mileage_to_query}}&pricefrom={{price_from_query}}&priceto={{price_to_query}}">next</a>
                      <a href="?page={{ context.paginator.num_pages }}&category={{cat_query}}&city={{city_query}}&brand={{brand_query}}&modelyear={{model_query}}&condition={{condition_query}}&mileagefrom={{mileage_from_query}}&mileageto={{mileage_to_query}}&pricefrom={{price_from_query}}&priceto={{price_to_query}}">last &raquo;</a>
                  {% endif %}

                  {% if query == None and city_query == None %}
                  {% if context.has_next and vehicle_category == None %}
                      <a href="?page={{ context.next_page_number }}">next</a>
                      <a href="?page={{ context.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
                  {% endif %}


                  {% if vehicle_category %}
                  {% if city_query == None and query == None %}
                  <a href="?page={{ context.next_page_number }}&ctgry={{vehicle_category}}">next</a>
                  <a href="?page={{ context.paginator.num_pages }}&ctgry={{vehicle_category}}">last &raquo;</a>
                  {% endif %}
                  {% endif %}

              </span>
            </div>
            </div>
            </div>



</body>
</html>
{% endblock %}
